* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5px;

}

section {
    padding: 20px;
    border-radius: 8px;
    padding: 15px 20px;
}

h1, h2, h3 {
    color: red;
    margin-bottom: 15px;
}

.container-prog {
    display: grid;
}

.itens-prog {
    font-weight: 500;
    margin: 5px;
    display: grid;
    align-items: center;
    text-align: center;
    min-width: 140px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.15) 0px 6px 6px;
    height: 300px;
    border-radius: 8px;
    background-color: #e1e1e1dc;
}

.prog{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.titulo-prog {
    font-size: 20px;
}

.prog-data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-hora {
    display: flex;
    justify-content: center;

}

.prog-hora {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 50px;
    width: 50px;
    color: white;
    text-shadow: 1px 2px 0px rgba(0,0,0,0.7);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@media (max-width: 500px) {
    .container {
        width: 100%;
    }

    .container-prog {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }

    .titulo-prog {
        font-size: 30px;
    }

    .prog-data {
        font-size: 20px;
    }

    .prog-hora {
        height: 60px;
        width: 60px;
    }

    .itens-prog {
        width: 300px;
    }
}

@media (min-width: 700px) {
    .container {
        width: 100%;
    }

    .titulo-prog {
        font-size: 30px;
    }

    .prog-data {
        font-size: 20px;
    }

    .prog-hora {
        height: 60px;
        width: 60px;
    }

    .container-prog {
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }

    .itens-prog {
        width: 230px;
    }
}

@media (min-width: 1023px) {
    .container {
        width: 100%;
    }

    .titulo-prog {
        font-size: 25px;
    }

    .prog-data {
        font-size: 15px;
    }

    .prog-hora {
        height: 60px;
        width: 60px;
    }

    .container-prog {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }

    .itens-prog {
        width: 190px;
    }
}

