.custom-carousel .carousel-item {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.custom-carousel .carousel-item.active {
  opacity: 1;
  position: relative;
  z-index: 2;
}

.custom-carousel .carousel-item-next,
.custom-carousel .carousel-item-prev {
  opacity: 1;
  position: relative;
  z-index: 2;
}

.carousel-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
